<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="container wappler-block pt-5 pb-5">
    <div class="row mb-5">
        <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <h4>i changed this</h4>
            <p>A nice paragraph</p>
            <button class="btn btn-primary">vhfhghg</button>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-sm-6 col-md-3">
            <img class="wappler-type-picture rounded-circle" width="150" height="150">
            <p>3rd commit of the new branch</p>
        </div>
        <div class="text-center col-sm-6 col-md-3"><img class="wappler-type-picture rounded-circle" width="150" height="150">
            <p>A nice paragraph</p>
        </div>
        <div class="text-center col-sm-6 col-md-3"><img class="wappler-type-picture rounded-circle" width="150" height="150">
            <p>mw branch change</p>
        </div>
        <div class="text-center col-sm-6 col-md-3"><img class="wappler-type-picture rounded-circle" width="150" height="150">
            <p>mw</p>
        </div>
    </div>
</div>
<meta name="ac:route" content="/">